@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary: #000;
    --secondary: #D3EDEE;
    --accent: #1F898C
}

html {
    font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    margin-inline: auto;
    height: 100svh;
    max-height: min(1000px, 100svh);
    font-size: 14px;
    position: relative;
}

footer {
    text-align: center;
    color: cyan
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

input:not([type="checkbox"]),
textarea,
button,
select {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    min-height: 45px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gainsboro;
}

input:user-valid {
    outline-color: greenyellow;
}

input:user-invalid {
    outline-color: orangered;
}

textarea {
    min-height: 100px;
}

button {
    background-color: var(--primary);
    font-weight: bold;
    border: none;
    outline: none;
    padding: 5px 1rem;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--accent);
}

footer {
    padding: 1rem;
}

@media screen and (max-width:1000px) {
    body {
        font-size: medium;
    }
}

@media screen and (max-width:600px) {

    body {
        font-size: small;

    }

    main {
        width: 100%;
        padding: 10rem 1rem 1rem 1rem;

    }

    .field input {
        height: 45px;
    }
}

/* Navbar Styling */
nav {
    background-color: black;
    padding: 10px 1rem;
    position: fixed;
    width: 100%;
    max-width: 1440px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.logo {
    width: 200px;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: 600;
    transition: background-color 0.3s ease-in;
}

.navbar a:hover {
    background-color: var(--accent);
}

/* Mobile menu */
.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 10;
}


/* Mobile Menu Styling */
#mobile-menu {
    display: none;
    text-align: right;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    border-top: 1px white solid;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
    transition: all 0.3s ease;
}


#mobile-menu li {
    margin-bottom: 1rem;
}

#mobile-menu li a {
    color: white;
}

#mobile-menu.active {
    display: block;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1000px) {
    #menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    .navbar a {
        text-align: center;
        width: 100%;
    }
}

.img-container {
    width: 60%;
    margin-inline: auto;
}

.btn-outline {
    background-color: transparent;
    border:2px solid var(--accent);
    border-radius: 10px;
    color: #333;
}

.btn-outline:hover {
    background-color: var(--accent);
    color: white
}

.link {
    font-style: italic;
    color: var(--accent);
    font-weight: 500;
}

.icon {
    width: 32px;
    height: 32px;
}